<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Test Graph</title>

  <!-- 
{{! var plotly = require('plotly')('tmac4403','98l7dFUfZ46ibY0751ke');
 
var data = [{x:[], y:[], stream:{token:'4ab3gxtapz', maxpoints:200}}];
var graphOptions = {fileopt : "extend", filename : "nodenodenode"};
 
plotly.plot(data,graphOptions,function() {
  var stream = plotly.stream('4ab3gxtapz', function (res) {
    console.log(res);
  });
  someReadableStream.pipe(stream);
}); }}  -->

  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"></script>

</head>

<body>

  <div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
  </div>
  <script>
    // var paramminername111 = 7ba7CE9161638c1227c32CD6326eb040571D99c6;
    // var moment = require('moment'); //including moment.js in this script (questionable)
    var queryURL = "https://api.ethermine.org/miner/7ba7CE9161638c1227c32CD6326eb040571D99c6/history";

    $.ajax({
      url: queryURL,
      method: "GET"
    })
      .done(function (response) {
        var xArray = [];
        var yArray = [];
        
        for (var i = 0; i < 100; i++) {

          // console.log(data);
         
          var time = new Date(response.data[i].time * 1000);
          console.log(time);
          yArray.push(response.data[i].currentHashrate / 1000000);
          
          // xArray.push(time);

          xArray.push(time);
          console.log(xArray);
          console.log(yArray);

       
        };
        var graphOptions = {
          "title": "CURRENT HASHRATE",
          // "autosize": "true",
          // "legend":{
          "showlegend": true,
          "legend": {"name":"hashrate",
          },// },

          "xaxis": { 
            "title": "A SLICE OF TIME"
          },
          "yaxis": { 
            "title": "HASHRATE"
          }
        };
        var data = [
          {

            // type: "scatter",
            // mode: "lines",
            
            x: xArray,          
            y: yArray,


          }];

        console.log(response.data);
        //  console.log(time);
        Plotly.newPlot('myDiv', data, graphOptions);
      });
  </script>
</body>

</html>