<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type=”text/x-handlebars-template” id=”template-name”></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link rel="stylesheet" href="./assets/css/_style.css">
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{{!-- beginning of nav bar --}}
<nav class="navbar navbar-light" style="background-color: #78bef0;">
    <!-- Navbar content -->

    <span class="navbar-toggler-icon"></span>
    </button>
        <a class="navbar-brand" href="/" style="background-color:rgb(8, 8, 8);">Home</a>
        <a class="navbar-brand" href="/history" style="background-color:rgb(8, 8, 8);">History</a>
        <a class="navbar-brand" href="/developers" style="background-color:rgb(8, 8, 8);">Developers</a>

    <div class="collapse navbar-collapse" id="navbarText">