<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type=”text/x-handlebars-template” id=”template-name”></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link rel="stylesheet" href="./assets/css/_style.css">
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"src="js/home.js"></script>
{{!-- beginning of nav bar --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="wrapper">  
     
    <div class="row container-fluid">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
    </div>

        <div class="row container-fluid">
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Hash Rate</div>
                                    <div class="huge"><br></div>
                    
                                </div>
                            </div>
                        </div>
                       
                            <div class="panel-footer">
                                <div class="text-right" id="hash-rate"></div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </div>
                 <div class="col-lg-2 col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Active Miners</div>
                                    <div class="huge"><br></div>
                                    
                                </div>
                            </div>
                        </div>
                       
                            <div class="panel-footer">
                                <div id="active-miners" class="pull-right" class="pull-left"></div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Active Miners</div>
                                    <div class="huge"><br></div>
                                    
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                        <div id="active-workers" class="pull-right" class="pull-left"></div>                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                       
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Block/ Hours</div>
                                    <div class="huge"><br></div>
                                  
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <div id="blocks" class="pull-right" class="pull-left"></div>                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                       
                    </div>
                </div>
                 <div class="col-lg-2 col-md-4">
                    <div class="panel" id="second">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Mined Block</div>
                                    <div class="huge"><br></div>
                                </div>
                            </div>
                        </div>
                    
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <div id="last" class="pull-right" class="pull-left"></div>                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
                  <div class="col-lg-2 col-md-4">
                    <div class="panel" id="last-box">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Price</div>
                                    <div class="huge"><br></div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <div id="price" class="pull-right" class="pull-left"></div>                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>
            </div>
    <!-- /#wrapper -->
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
                    <div class="panel" id="last-box">
                        <div class="panel-heading"></div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="word">Top miners</div>
                                    <div class="huge"><br></div>
                                </div>
                            </div>
                           <div class="panel-footer">
                                <div id="top-miners">
                                <span class="pull-left"></span></div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                    </div>
        </div>
         <div class="col-lg-6 col-md-12">
                    <div class="panel" id="last-box">
                        <div class="panel-heading"></div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                               <div class="col-xs-9 text-right">
                                    <div id="word">Pool Graph</div>
                                    <div class="huge"><br></div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div id="graph">
                                <span class="pull-left"></span></div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                    </div>
        </div>
    <!-- /#wrapper -->
    </div>
    </div>
</div>
<footer>
    {{!-- <div class="jumbotron" style="background-color:red; margin-bottom:0px;"> --}}
        {{!-- <h2>wod goes here</h2> --}}
    {{!-- </div> --}}
</footer>



