<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Test Graph</title>

  <!-- 
{{! var plotly = require('plotly')('tmac4403','98l7dFUfZ46ibY0751ke');
 
var data = [{x:[], y:[], stream:{token:'4ab3gxtapz', maxpoints:200}}];
var graphOptions = {fileopt : "extend", filename : "nodenodenode"};
 
plotly.plot(data,graphOptions,function() {
  var stream = plotly.stream('4ab3gxtapz', function (res) {
    console.log(res);
  });
  someReadableStream.pipe(stream);
}); }}  -->


  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript"></script>
</head>

<body>

  <div id="myDiv">
    <!-- Plotly chart will be drawn inside this DIV -->
  </div>
<script>
  // var paramminername111 = 7ba7CE9161638c1227c32CD6326eb040571D99c6;
  var queryURL = "https://api.ethermine.org/miner/7ba7CE9161638c1227c32CD6326eb040571D99c6/history";

  $.ajax({
    url: queryURL,
    method: "GET"
  })
    .done(function(response) {
    
for (var i=0; i<10; i++) {
     
      console.log(data);
      var xArray = [];
      var yArray = [];
      xArray.push(response.data[i].currentHashrate);
      yArray.push(response.data[i].time);
    };
     var data = [
      {
        type: "scatter",
        mode: "lines",
        x: xArray,
        y: yArray,
        
      }];
       console.log(response.data);
   
      Plotly.newPlot('myDiv', data);
    });
    </script>
</body>
</html>