<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger and click the "Submit" button.</p>
		</div>
	</div>
</div>